{% include "index.html" %}


{% block content %}


<table border="5" style="width:70%">
<tr>
    <th>Name</th>
    <th>Description</th> 
    <th>Due date</th>

  </tr>
    {% for task in task_list %}
    {% csrf_token %} 
    <tr>
        <td>{{ task.name }} </td> 
        <td>{{ task.description }} </td>
        <td>{{ task.due_date }}</td>
        <td><a href="{{ task.delete_task }}">Delete</a></td>
        <td><a href="{{ task.task_edit }}">Update</a></td>
    </tr>

    {% endfor %}
</table>
{% endblock %}
